.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    
  }
  
  .sidebarOption .material-icons{
    padding: 20px;
  }
  
  .sidebarOption h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
  }
  
  .sidebarOption:hover {
   
   
    color:wheat;
    transition: color 100ms ease-out;
  }
  
  .sidebarOption.active {
    color:white;
  }
  
  .sidebar__tweet {
    width: 100%;
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
  }
  
  .sidebar {
    border-right: 1px solid var(--twitter-background);
    flex: 1;
    
    padding-top: 20px;
    
    
    background-color: var(--twitter-color);
    margin: 0;
    min-height: 100%;
    position: fixed;
    border-top-right-radius: 30px;
   
  }
