button[disabled]{
    background-color: #dfe6e9
}

button[disabled]:hover{
     background-color: #dfe6e9;
}

.tweetBox__tweetButton:hover{
    background-color:#81ecec ;
}

.indicator{
    position: relative;
}
.replylength-indicator{
    font-size: 17px;
    position: absolute;
    left: 680px;
    bottom: 6px;
}

.valid-input{
    color: #00b894;
}