

label{
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;

}
input,select{
  margin-bottom: 15px;
    margin-right:100px;
}

button{
    margin-bottom: 5px;
    margin-right: 5px;
    height: 40px;
    width: 100px;
    }


    .card {
        /* Add shadows to create the "card" effect */
    margin-top: 20px;
    margin-left: 400px;
    margin-bottom: 20px;
      padding:20px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 30px;
      }
      
      /* On mouse-over, add a deeper shadow */
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }

      .btn-primary{
        border-color: var(--twitter-background);
        background-color: var(--twitter-color);
      }