<div class="card" >
    <h3 style="text-align: center;color: var(--twitter-color)">Reset Password<i style="padding: 5px;" class="fa fa-twitter" ></i></h3>
<div class="container reset-form" *ngIf="!isValid">
    <form #verify="ngForm" (ngSubmit)="onSubmit(verify)">
        <div class="row">
            <div class="col">
                <input type="text" 
                class="form-control" 
                placeholder="Enter UserID Or EmailID" 
                required
                name="email"
                email
                ngModel
                #email="ngModel">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="number" 
                class="form-control" 
                placeholder="Enter Registered Mobile Number" 
                required
                name="mobileNumber"
                ngModel
                #mobileNumber="ngModel">
            </div>
        </div>

            <div *ngIf="errorMessage">
                <div style="color: red;margin-bottom: 10px;font-weight: bold;" >
                   Credentials does not match
                  </div>
            </div>
                <button type="submit" class="btn btn-primary" [disabled]="!verify.valid">Verify</button>
            <button type="button" class="btn btn-secondary" [routerLink]="''">Back</button>

       
    </form>
</div>

<div class="container reset-form" *ngIf="isValid && !isPasswordResetSuccessfull">
    <div style="color: green;margin-bottom: 10px;font-weight: bold;" role="alert">
        Verification Successfully Completed! Please Reset Your Password!
      </div>
    <form #resetPassword="ngForm" (ngSubmit)="onReset(resetPassword)">
        <div class="row">
            <div class="col">
                <input 
                    type="password"
                    class="form-control" 
                    placeholder="Enter New Password" 
                    required
                    name="password"
                    ngModel
                    #password="ngModel">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input 
                    type="password" 
                    class="form-control" 
                    placeholder="Confirm password" 
                    required
                    name="confirmPassword"
                    ngModel
                    #confirmPassword="ngModel"
                    >
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-success" [disabled]="!resetPassword.valid">Reset</button>
            </div>
        </div>
    </form>
</div>
<div style="color: green;margin-bottom: 10px;font-weight: bold;" role="alert" *ngIf="isPasswordResetSuccessfull">
    Password successfully changed! Redirecting...
</div>
</div>