<div class="row" >
<div class="col-sm-6" style="max-width: 455px;" *ngFor="let userDetail of users">
            <div class="card">
              <table class="table table-info table-borderless " style="border-radius: 20px;">
                <tr>
                  <td colspan="2" style="text-align: center;">
                    <img style="border-radius: 50%;" src="../../assets/images/users.png"
                    alt=""
                    width="100px"         
                  />
                  </td>
                </tr>
                <tr>
                  <td class="heading">Name:</td>
                  <td class="reading">{{userDetail.firstName}} {{userDetail.lastName}}</td>
                </tr>
                <tr>
                  <td class="heading">Email ID:</td>
                  <td class="reading">{{userDetail.emailId}}</td>
                </tr>
                <tr>
                <tr>
                  <td class="heading">Contact No.:</td>
                  <td class="reading">{{userDetail.mobileNumber}}</td>
                </tr>
              
              </table>
              </div>
          </div>
</div>