<div class="card">
<h4 style="text-align: center;"><b>My Profile</b></h4>
<table class="table table-info table-borderless " style="border-radius:20px ;">
  <tr>
    <td colspan="2" style="text-align: center;">
      <img src="../../assets/images/profile.jfif"
      alt=""
      width="100px"
      style="border-radius: 50%;"
    />
    </td>
  </tr>
  <tr>
    <td class="heading">Name:</td>
    <td>{{userDetail.firstName}} {{userDetail.lastName}}</td>
  </tr>
  <tr>
    <td class="heading"> Email ID:</td>
    <td>{{userDetail.emailId}}</td>
  </tr>
  <tr>
    <td class="heading">Gender:</td>
    <td>{{userDetail.gender}}</td>
  </tr>
  <tr>
    <td class="heading"> DOB:</td>
    <td>{{DOB}}</td>
  </tr>
  <tr>
    <td class="heading">Contact No.:</td>
    <td>{{userDetail.mobileNumber}}</td>
  </tr>

</table>
</div>