/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  body {
    --twitter-color:#00cec9;
    --twitter-background: #81ecec;
  }

  textarea{
    resize: none;
}

  .tweetbox__input img {
    border-radius: 50%;
    height: 40px;
  }
  
  .tweetBox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
    border-left: 1px solid var(--twitter-background);
    border-right: 1px solid var(--twitter-background);
    border-radius: 20px;
  }
  
  .tweetBox form {
    display: flex;
    flex-direction: column;
  }
  
  .tweetbox__input {
    display: flex;
    padding: 20px;
  }
  
  .tweetbox__input textarea {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
  }
  
  .tweetBox__tweetButton {
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
  
    border-radius: 20px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
  }
  
  /* post */
  
  .feed {
    flex: 2;
    
    min-width: fit-content;
    overflow-y: scroll;
    margin-left: 50px;
    width: 1000px;
    margin-top: 10px;
    border-radius: 20px;
    height: auto;
  }
  
  .feed__header {
    position: sticky;
    top: 0;
    background-color: var(--twitter-color);
  
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
    border-radius: 20px;
  }
  
  .feed__header h2 {
    font-size: 20px;
    font-weight: 800;
  }
  
  .feed::-webkit-scrollbar {
    display: none;
  }
  
  .feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 20px;;
  }
.post__avatar img {
    border-radius: 50%;
    height: 40px;
  }
  
  .post {
    display: flex;
    align-items: flex-start;
    border-bottom: 5px solid var(--twitter-background);
    padding-bottom: 10px;
    border-left: 5px solid var(--twitter-background) ;
    border-right: 5px solid var(--twitter-background);
    border-radius: 20px;
    
  }

  .post:hover{
      background-color: lightcyan;
  }
  
  .post__body img {
    width: 450px;
    object-fit: contain;
    border-radius: 20px;
  }
  
  .post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

  }
  
  .post__badge {
    font-size: 14px !important;
    color:#006266;
    margin-right: 5px;
  }
  
  .post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
  }
  
  .post__headerText h3 {
    font-size: 15px;
    margin-bottom: 5px;
    
  }
  .post__headerText b {
    padding-right: 5px;
    
  }
  
  .post__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  .post__body {
    flex: 1;
    padding: 10px;
  }
  
  .post__avatar {
    padding: 20px;
  }

  .footer-icons{
      cursor: pointer;
  }

  .footer-icons:hover{
    background-color: lightcyan;
    border-radius: 5px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
  }

  .tweet-like{
    padding-left: 5px;
    vertical-align: top;
    font-weight: bold;
    color: var(--twitter-color);
  }

  input.ng-invalid.ng-touched{
    border: 1px solid red;
  } 